@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,800');

html {
  font-size: 18px;
  font-family: sans-serif;
}

.image {
  display: flex;
  justify-content: center;
  width: 100%;
}

.intro {
  background-color: lime;
}
